<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.dothome.ib1694.subject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".KoreanActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".MathActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".SocietyActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".ScienceActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".EnglishActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".Technology_and_home_economicsActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".Scales_of_justiceActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".JapaneseActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".ChineseActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".InformationActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".MusicActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".ArtActivity"
            android:screenOrientation="landscape"></activity>

    </application>

</manifest>